.new-expance{
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 50rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
}
.new-expance button{
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;

}
.new-expance button:hover,
.new-expance button:active{
    background-color: #510674;
    border-color: #510674;
}
.new-expance button.alternative{
    color: #220131;
    border-radius: transparent;
}

.new-expance button.alternative:hover,
.new-expance button.alternative:active{
    background-color: #ddb3f8;
}